@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-scroll-left {
    animation: scrollLeft 60s linear infinite; /* Ajuste a duração conforme necessário */
  }
}